@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
    --gradient-primary: #D51366;
    --gradient-secondary: #E32351;
    --gradient-highlight: #eeaabf;
    --gradient-hover: #FEE5EB;
}

/* General styling */
html,
body {
    width: 100%;
    margin: 0;
}

.hidden {
    display: none;
}

#header {
    background: #fff;
    border-bottom: 1px solid #e6e9eb;
    height: 44px;
    left: 0;
    margin-bottom: 24px;
    padding: 14px 26px;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.test-payment {
    font-family: 'Poppins', sans-serif;
    width: 70%;
    margin: auto;
    padding: 1em;
    border: 1px solid #b0b0b0;
}

.test-payment input{
    width: 100%;
}

.test-payment select {
    width: 50%;
}

/* Status page */

.status-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status {
    margin: 0 0 126px;
    text-align: center;
}

.status .status-image {
    display: block;
    height: 100px;
    margin: 16px auto 0;
}

.status .status-image-thank-you {
    height: 66px;
}

.status .status-message {
    margin: 8px 0 24px;
}

/* Dropin payment form styling */

.dropin-gradient .adyen-checkout__dropin {
    font-family: 'Poppins', sans-serif;
    width: 70%;
    margin: auto;
}

.dropin-gradient .adyen-checkout__payment-method {
    border: 1px solid #b0b0b0;
}

.dropin-gradient .adyen-checkout__payment-method--selected {
    background: #fff;
    margin: 0;
}

.dropin-gradient .adyen-checkout__payment-method--selected:not(:first-child) {
    border-top: 0;
}

.dropin-gradient .adyen-checkout__payment-method--selected:not(:last-child) {
    border-bottom-color: transparent;
    border-radius: 0;
}

.dropin-gradient .adyen-checkout__payment-method--next-selected {
    border-radius: 0;
}

.dropin-gradient .adyen-checkout__payment-method:first-child {
    border-radius: 12px 12px 0 0;
}

.dropin-gradient .adyen-checkout__payment-method:last-child {
    border-radius: 0 0 12px 12px;
}

.dropin-gradient .adyen-checkout__payment-method--selected + .adyen-checkout__payment-method {
    border-radius: 0;
}

.dropin-gradient .adyen-checkout__payment-method:not(.adyen-checkout__payment-method--selected):hover {
    background: var(--gradient-hover);
}

.dropin-gradient .adyen-checkout__payment-method:not(.adyen-checkout__payment-method--selected):hover .adyen-checkout__payment-method__image {
    box-shadow: 0 0 0 2px #fff;
}

.dropin-gradient .adyen-checkout__payment-method:hover:not(.adyen-checkout__payment-method--selected) .adyen-checkout__payment-method__radio {
    box-shadow: 0 0 0 1px var(--gradient-secondary);
}

.dropin-gradient .adyen-checkout__button.adyen-checkout__button--pay {
    background: linear-gradient(90deg, var(--gradient-secondary) 30.88%, var(--gradient-primary) 65.88%);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.dropin-gradient .adyen-checkout__payment-method__radio.adyen-checkout__payment-method__radio--selected {
    background-color: var(--gradient-primary);
}

.dropin-gradient .adyen-checkout__dropdown__button--active,
.dropin-gradient .adyen-checkout__dropdown__button--active:hover,
.dropin-gradient .adyen-checkout__dropdown__button:active,
.dropin-gradient .adyen-checkout__dropdown__button:focus {
    border: 1px solid var(--gradient-primary);
    box-shadow: 0 0 0 2px var(--gradient-highlight);
}

.dropin-gradient .adyen-checkout__input--focus,
.dropin-gradient .adyen-checkout__input--focus:hover,
.dropin-gradient .adyen-checkout__input:active,
.dropin-gradient .adyen-checkout__input:active:hover,
.dropin-gradient .adyen-checkout__input:focus,
.dropin-gradient .adyen-checkout__input:focus:hover {
    border: 1px solid var(--gradient-primary);
    box-shadow: 0 0 0 2px var(--gradient-highlight);
    caret-color: var(--gradient-primary);
}

.dropin-gradient .adyen-checkout__label--focused .adyen-checkout__label__text {
    color: var(--gradient-primary);
}

.dropin-gradient .adyen-checkout__radio_group__input:focus + .adyen-checkout__radio_group__label:before {
    border: 1px solid var(--gradient-primary);
    box-shadow: 0 0 0 2px var(--gradient-highlight);
}

.dropin-gradient .adyen-checkout__radio_group__input:checked + .adyen-checkout__radio_group__label:before,
.dropin-gradient .adyen-checkout__radio_group__label--selected {
    background: var(--gradient-primary);
}

.dropin-gradient .adyen-checkout__checkbox__input:hover:not(:focus) + .adyen-checkout__checkbox__label:after {
    border-color: var(--gradient-highlight);
    box-shadow: 0 0 0 2px var(--gradient-hover);
}

.dropin-gradient .adyen-checkout__checkbox__input:checked + .adyen-checkout__checkbox__label:after {
    border: 1px solid var(--gradient-primary);
    background-color: var(--gradient-primary);
}

.dropin-gradient .adyen-checkout__checkbox__input:focus + .adyen-checkout__checkbox__label:after {
    border: 1px solid var(--gradient-primary);
    box-shadow: 0 0 0 2px var(--gradient-highlight);
}

.dropin-gradient .adyen-checkout__field--consentCheckbox {
    background: var(--gradient-hover);
    border-color: transparent;
}

.dropin-gradient .adyen-checkout__link {
    color: var(--gradient-primary);
}